#app-wrapper {
  display: flex;
  width: 100vw;
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.App {
  text-align: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
  height: 100vh;
  width: 300px;
}

.state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
 
  background: lightgray;
}

.account {
  text-align: center;
}

.account button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background: steelblue;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.thick {
  border-bottom: 4px solid;
}

.dotted {
  border-bottom: 4px dotted;
}

.indent {
  padding-left: 20px;
}

.title-value {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.pic-box {
  align-self: center;
  margin: 10px;
  min-height: 100px;
  width: 100px;
  background-image: url('./assets/profile-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  min-width: 700px;
  box-shadow:10px 5px 15px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}

.nav-container h2 {
  flex: 1;
  padding: 1em;
}

.explorer {
  margin-top: 1em;
  min-width: 800px;
}

.explorer h1{
  text-align: center;
}

.exp-title-new {
  margin: 30px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.exp-title-new button {
  width: 100px;
  background: steelblue;
  color: white;
  font-size: 1em;
  cursor: pointer;
}



.exp-data-table th{
  text-align: left;
}

.exp-data-table table{
  margin: 30px;
  width: 100%;
  padding: 1em;
}

.channel-container h1 {
  text-decoration: underline;
  padding: 1em;
}

.agreements {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.agreements button {
  width: 100px;
  height: 40px;
  background: rgb(50, 171, 247);
  font-size: 1em;
  color: white;
  margin: 1em;
}

.channel-data-table {
  width: 100%; 
}

.channel-data-table table{
  text-align: left;
  table-layout: auto;
  width: 100%;
  padding: 1em;
}

.channel-pages {
  display: flex;
  float: right;
  margin: 1em;
  justify-content: center;
}

.channel-pages div {
  width: 30px;
  height: 30px;
  background: rgb(50, 171, 247);
  color: white;
}

.create-agreement {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.create-agreement h1 {
  text-align: center;
}

.create-agreement form{
  display: flex;
  flex-direction: column;
}

.create-agreement button{
  padding: 1em;
  margin: 1em;
  width: 200px;
  background: steelblue;
  cursor: pointer;
  color: white;
  padding: 1em;
}

.agreement-form {
  width: 100%;
  font-size: 1.5em;
}

.agreement-form input {
  width: 400px;
  float: right;
  font-size: 1em;
}

.agreement-form select {
  width: 400px;
  float: right;
  font-size: 0.8em;
}

.agreement-form button {
  font-size: 0.6em;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.create-agreement label{
  padding: 1em;
}

.pending-agreement {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.pending-agreement h1 {
  text-align: center;
}

.pending-agreement form{
  display: flex;
  flex-direction: column;
}

.pending-agreement-form p {
  float: right;
  font-size: 1em;
}

.pending-agreement button{
  padding: 1em;
  margin: 1em;
  width: 200px;
  height: 100px;
  background: steelblue;
  cursor: pointer;
  color: white;
  padding: 1em;
}

.pending-agreement-form {
  width: 100%;
  font-size: 1.5em;
}

.decline-agree {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pending-agreement-form button {
  font-size: 0.6em;
  height: 100%;
}

.agreement-detail-form {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 60%;
}

.agreement-detail-form h1 {
  text-align: center;
}

.agreement-detail-form form{
  display: flex;
  flex-direction: column;
}

.agreement-detail-form p {
  float: right;
  font-size: 1em;
 
}

.eth-comp{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 40px;
}

.eth-comp select {
  width: 90%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eth-select-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eth-select-button button {
  
  width: 40px;
  height: 40px;
}

.eth-send-state {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.eth-send-state label {
  display: flex;
  justify-content: space-between;
}

.hashlock-comp{
  width: 100%;
  height: 100%;
  background: cyan;
  font-size: 78pt;
}

.tokens-comp{
  width: 100%;
  height: 100%;
  background: red;
  font-size: 78pt;
}

.objects-comp{
  width: 100%;
  height: 100%;
  background: gray;
  font-size: 78pt;
}






